@import 'vari';

h1, h2, h3 {

    @include greenBack();

    margin: 15% 17%;
    width: fit-content;
    padding: 8px;
}


a {
    
    color: $textColorMain;
}

p {
    text-align: left;
    padding: 0 20px;
    line-height: 1.25;
    margin: 40px 0;
}

.words {
    margin: 0 ;
    
}

li {
    list-style: none;
}



ul {
    background: $gradient;
    width: 50vw;
}





