@import 'vari';

h1, h2, h3 {

    @include greenBack();

    margin: 15% 17%;
    width: fit-content;
    padding: 8px;
}


a {
    
    color: $highlight;
}

p {
    text-align: left;
    padding: 0 20px;
    line-height: 1.5;
    margin: 40px 0;
    font-size: 3vh;
}

.words {
    margin: 0 ;
    
}

li {
    list-style: none;
}



ul {
    background: $gradient;
    width: 50vw;
}


//

.body {

    color: $textColorMain;
    background: $backgroundMain;
    font-family: 'Amiko', sans-serif;
}





